<?xml version="1.0"?>
<config>
    <modules>
        <EmailDirect_Integration>
             <version>1.2.9</version>
        </EmailDirect_Integration>
    </modules>
    <global>
    	<events>
            <newsletter_subscriber_save_before>
                <observers>
                    <emaildirect_subscribe_observer>
                        <class>emaildirect/observer</class>
                        <method>handleSubscriber</method>
                    </emaildirect_subscribe_observer>
                </observers>
            </newsletter_subscriber_save_before>
            <newsletter_subscriber_delete_after>
                <observers>
                    <emaildirect_subscribe_delete_observer>
                        <class>emaildirect/observer</class>
                        <method>handleSubscriberDeletion</method>
                    </emaildirect_subscribe_delete_observer>
                </observers>
            </newsletter_subscriber_delete_after>
            <customer_save_after>
                <observers>
                    <emaildirect_update_customer>
                        <class>emaildirect/observer</class>
                        <method>updateCustomer</method>
                    </emaildirect_update_customer>
                </observers>
            </customer_save_after>
            <sales_order_save_after>
					<observers>
						<emaildirect_order_save_after>
							<class>emaildirect/observer</class>
							<method>orderSaveAfter</method>
						</emaildirect_order_save_after>
					</observers>
            </sales_order_save_after>
            <sales_quote_save_after>
					<observers>
						<emaildirect_quote_save_after>
							<class>emaildirect/observer</class>
							<method>quoteSaveAfter</method>
						</emaildirect_quote_save_after>
					</observers>
            </sales_quote_save_after>
       	</events>
        <models>
            <emaildirect>
                <class>EmailDirect_Integration_Model</class>
                <resourceModel>emaildirect_mysql4</resourceModel>
            </emaildirect>
            <emaildirect_mysql4>
                <class>EmailDirect_Integration_Model_Mysql4</class>
                <entities>
                    <apidebug><table>emaildirect_api_debug</table></apidebug>
                </entities>
            </emaildirect_mysql4>
        </models>
        <resources>
            <emaildirect_setup>
                <setup>
                    <module>EmailDirect_Integration</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </emaildirect_setup>
            <emaildirect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </emaildirect_write>
            <emaildirect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </emaildirect_read>
        </resources>
        <blocks>
            <emaildirect>
                <class>EmailDirect_Integration_Block</class>
            </emaildirect>
        </blocks>
        <helpers>
            <emaildirect>
                <class>EmailDirect_Integration_Helper</class>
            </emaildirect>
        </helpers>
        <template>
			<email>
                <newsletter_subscription_success_email_template translate="label" module="emaildirect">
                    <label>Newsletter subscription success</label>
                    <file>newsletter_subscr_success_emaildirect.html</file>
                    <type>html</type>
                </newsletter_subscription_success_email_template>
                <newsletter_subscription_un_email_template translate="label" module="emaildirect">
                    <label>Newsletter unsubscription success</label>
                    <file>newsletter_unsub_success_emaildirect.html</file>
                    <type>html</type>
                </newsletter_subscription_un_email_template>
			</email>
        </template>
    </global>
    <frontend>
        <translate>
            <modules>
                <EmailDirect_Integration>
                    <files>
                        <default>EmailDirect_Integration.csv</default>
                    </files>
                </EmailDirect_Integration>
            </modules>
        </translate>
        <routers>
            <emaildirect>
                <use>standard</use>
                <args>
                    <module>EmailDirect_Integration</module>
                    <frontName>emaildirect</frontName>
                </args>
            </emaildirect>
        </routers>
        <layout>
            <updates>
                <emaildirect>
                    <file>emaildirect.xml</file>
                </emaildirect>
            </updates>
        </layout>
        <events>
			<controller_action_postdispatch_checkout_onepage_saveOrder>
	           	<observers>
	               <emaildirect_subscribe_checkout>
	                   <class>emaildirect/observer</class>
	                   <method>registerCheckoutSubscribe</method>
	               </emaildirect_subscribe_checkout>
	         	</observers>
	        </controller_action_postdispatch_checkout_onepage_saveOrder>
	        <checkout_onepage_controller_success_action>
	           	<observers>
	               <emaildirect_subscribe_checkoutsuccess>
	                   <class>emaildirect/observer</class>
	                   <method>registerCheckoutSuccess</method>
	               </emaildirect_subscribe_checkoutsuccess>
	         	</observers>
	        </checkout_onepage_controller_success_action>
			<sales_order_place_after>
			  <observers>
			      <emaildirect_sendorder>
			          <class>emaildirect/observer</class>
			          <method>orderSaveAfter</method>
			      </emaildirect_sendorder>
			  </observers>
			</sales_order_place_after>
      	</events>
    </frontend>
    <admin>
    	<routers>
            <emaildirect>
                <use>admin</use>
                <args>
                    <module>Emaildirect_Integration</module>
                    <frontName>emaildirect</frontName>
                </args>
            </emaildirect>
        </routers>
    </admin>
    <adminhtml>
    	<layout>
	        <updates>
	            <emaildirect>
	                <file>emaildirect.xml</file>
	            </emaildirect>
	        </updates>
    	</layout>
        <translate>
            <modules>
                <EmailDirect_Integration>
                    <files>
                        <default>EmailDirect_Integration.csv</default>
                    </files>
                </EmailDirect_Integration>
            </modules>
        </translate>
        <events>
        		<sales_order_shipment_track_save_after>
                <observers>
                    <googlecheckout>
                        <type>model</type>
                        <class>emaildirect/observer</class>
                        <method>salesOrderShipmentTrackSaveAfter</method>
                    </googlecheckout>
                </observers>
            </sales_order_shipment_track_save_after>
            <admin_system_config_changed_section_emaildirect>
                <observers>
                    <emaildirect_save_config>
                        <class>emaildirect/observer</class>
                        <method>saveConfig</method>
                    </emaildirect_save_config>
                </observers>
            </admin_system_config_changed_section_emaildirect>
        </events>
    </adminhtml>
    <default>
    	<emaildirect>
    		<general>
    			<urls>
					<accesspoint>https://rest.emaildirect.com/v1/</accesspoint>
					<lists>Lists</lists>
					<subscribers>Subscribers</subscribers>
					<sources>Sources</sources>
					<publications>Publications</publications>
					<products>Products</products>
					<categories>ProductCategories</categories>
					<orders>Orders</orders>
					<database>Database</database>
					<abandoned>Import/AddOrUpdate</abandoned>
					<ftp>FTP</ftp>
    			</urls>
	    		<active>0</active>
	    		<sourceid>0</sourceid>
	    		<source>Magento</source>
	    		<max_times>1</max_times>
	    		<list>-1</list>
	    		<address_fields><![CDATA[a:5:{s:2:"a1";a:2:{s:7:"magento";s:6:"street";s:11:"emaildirect";s:7:"Address";}s:2:"a2";a:2:{s:7:"magento";s:4:"city";s:11:"emaildirect";s:4:"City";}s:2:"a3";a:2:{s:7:"magento";s:10:"state_code";s:11:"emaildirect";s:5:"State";}s:2:"a4";a:2:{s:7:"magento";s:8:"postcode";s:11:"emaildirect";s:3:"Zip";}s:2:"a5";a:2:{s:7:"magento";s:9:"telephone";s:11:"emaildirect";s:5:"Phone";}}]]></address_fields>
	    		<map_fields><![CDATA[a:2:{i:0;a:2:{s:7:"magento";s:9:"firstname";s:11:"emaildirect";s:9:"FirstName";}i:1;a:2:{s:7:"magento";s:8:"lastname";s:11:"emaildirect";s:8:"LastName";}}]]></map_fields>	    		
	    		<abandonedtime>30</abandonedtime>
	    		<abandonedlist>-1</abandonedlist>
	    		<sendabandoned>0</sendabandoned>
	    		<abandonedsetup>0</abandonedsetup>
	    		<debug>0</debug>
	    		<save_latest_order>0</save_latest_order>
	    		<product_fields>3</product_fields>
	    		<related_fields>2</related_fields>
    		</general>
    		<export>
    			<send_to_emaildirect>1</send_to_emaildirect>
    			<include_disabled>1</include_disabled>
    			<batch>100</batch>
    		</export>
    	</emaildirect>
    </default>
    <crontab>
        <jobs>
            <emaildirect_integration>
                <schedule>
                    <cron_expr>0 */1 * * *</cron_expr>
                    <!--<cron_expr>*/5 * * * *</cron_expr>--><!-- every 5 minutes for testing -->
                </schedule>
                <run>
                    <model>emaildirect/observer::abandonedCartsProcessor</model>
                </run>
            </emaildirect_integration>
        </jobs>
    </crontab>
</config>
