<?xml version="1.0"?>
<config>
    <modules>
        <OCM_Quotedispatch>
            <version>0.1.1</version>
        </OCM_Quotedispatch>
    </modules>
    <frontend>
        <routers>
            <quotedispatch>
                <use>standard</use>
                <args>
                    <module>OCM_Quotedispatch</module>
                    <frontName>quotedispatch</frontName>
                </args>
            </quotedispatch>
            <customer>
                <args>
                    <modules>
                        <OCM_Quotedispatch before="Mage_Customer">OCM_Quotedispatch_Customer</OCM_Quotedispatch>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <quotedispatch>
                    <file>ocm/quotedispatch.xml</file>
                </quotedispatch>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<adminhtml>
				<args>
    				<modules>
                        <quotedispatch before="Mage_Adminhtml">OCM_Quotedispatch_Adminhtml</quotedispatch>
    				</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<quotedispatch>
					<file>ocm/quotedispatch.xml</file>
				</quotedispatch>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <quotedispatch>
                <class>OCM_Quotedispatch_Model</class>
                <resourceModel>quotedispatch_mysql4</resourceModel>
            </quotedispatch>
            <quotedispatch_mysql4>
                <class>OCM_Quotedispatch_Model_Mysql4</class>
                <entities>
                    <ocm_quotedispatch>
                        <table>ocm_quotedispatch</table>
                    </ocm_quotedispatch>
                    <ocm_quotedispatch_items>
                        <table>ocm_quotedispatch_item</table>
                    </ocm_quotedispatch_items>
                </entities>
            </quotedispatch_mysql4>
        </models>
        <resources>
            <ocm_quotedispatch_setup>
                <setup>
                    <module>OCM_Quotedispatch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ocm_quotedispatch_setup>
            <quotedispatch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quotedispatch_write>
            <quotedispatch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quotedispatch_read>
        </resources>
        <blocks>
            <quotedispatch>
                <class>OCM_Quotedispatch_Block</class>
            </quotedispatch>
        </blocks>
        <helpers>
            <quotedispatch>
                <class>OCM_Quotedispatch_Helper</class>
            </quotedispatch>
        </helpers>
        <events>
            <checkout_cart_save_before>
                <observers>
                    <block_quotedispatch_updates>
                        <class>quotedispatch/observer</class>
                        <method>blockQuotedispatchUpdates</method>
                    </block_quotedispatch_updates>
                </observers>
            </checkout_cart_save_before>
        </events>
        <template>
            <email>
                <ocm_quotedispatch_request_processed module="quotedispatch">
                    <label>Quotedispatch - Request Processed</label>
                    <file>ocm/quotedispatch/request_processed.html</file>
                    <type>html</type>
                </ocm_quotedispatch_request_processed>
            </email>
        </template>
    </global>
    <crontab>
        <jobs>
            <ocm_orderdispatch_send_reminders>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>orderdispatch/observer::sendReminders</model>
                </run>
            </ocm_orderdispatch_send_reminders>
            <ocm_orderdispatch_expire_quotes>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>orderdispatch/observer::expireQuotes</model>
                </run>
            </ocm_orderdispatch_expire_quotes>
        </jobs>
    </crontab>
</config>