<?xml version="1.0"?>
<config>
    <modules>
        <OCM_Callouts>
            <version>0.1.0</version>
        </OCM_Callouts>
    </modules>
    <frontend>
        <routers>
            <newitems>
                <use>standard</use>
                <args>
                    <module>OCM_Callouts</module>
                    <frontName>newitems</frontName>
                </args>
            </newitems>
            <topsellers>
                <use>standard</use>
                <args>
                    <module>OCM_Callouts</module>
                    <frontName>topsellers</frontName>
                </args>
            </topsellers>
        </routers>
        <layout>
            <updates>
                <callouts>
                    <file>ocm/callouts.xml</file>
                </callouts>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <callouts>
                <class>OCM_Callouts_Block</class>
            </callouts>
            <!--
			<checkout>
                <rewrite>
					<links>OCM_Callouts_Block_Checkout_Links</links>
                </rewrite>
			</checkout>
			
			<adminhtml>
				<rewrite>
					<catalog_product_grid>OCM_Callouts_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
				</rewrite>
			</adminhtml>
			-->
        </blocks>
        <models>
            <callouts>
                <class>OCM_Callouts_Model</class>
            </callouts>
        </models>
        <helpers>
            <callouts>
                <class>OCM_Callouts_Helper</class>
            </callouts>
        </helpers>
        <resources>
            <ocm_callouts_setup>
                <setup>
                    <module>OCM_Callouts</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ocm_callouts_setup>
        </resources>
    </global>
</config>